.app_dark_purple_theme {
    --bg-color: #f7f4fb;
    --inverted-bg-color: #7e00ff;
    --primary-color: #c0a;
    --secondary-color: #be1ba4;
    --inverted-primary-color: #8d0078;
    --inverted-secondary-color: #efeafc;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(126 0 255 / 20%);

    // code
    --code-bg: #f7f4fb;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}
