.app_dark_purple_theme {
    --bg-color: #f7f4fb;
    --inverted-bg-color: #7e00ff;
    --primary-color: #c0a;
    --secondary-color: #f7f4fb;
    --inverted-primary-color: #f7f4fb;
    --inverted-secondary-color: #f7f4fb;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(126 0 255 / 20%);

    // code
    --code-bg: #f7f4fb;
}
