.app.light {
    --bg-color: #dcdcdc;
    --inverted-bg-color: #3b3b92;
    --primaty-color: #5877b1;
    --secondary-color: #009be0;
    --inverted-primaty-color: #00ca00;
    --inverted-secondary-color: #0f0;
}
